  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
  }
  #cont{ 
  width: 100%;
  min-height: 100vh;
  background:linear-gradient(135deg,#c98ccf,#581762);
  padding :10px;

  }
  
#todo{
    width: 100%;
    max-width: 670px;
    background: #eab9f0; 
    margin: 130px auto 20px ;
    padding:50px 50px 70px;
    border-radius: 20px;
  }
  
  #todo h2{
    color: rgb(118, 9, 118);
    display:flex;
    align-items: center;
    margin-bottom:20px;
   
}


  
  #todo h2 img{ 
    width:40px;
     margin-left: 10px;
  }
  .a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ececef; 
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  input {
  width: 65%;
  border: 2px solid#bea9b7;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  background:linear-gradient(135deg,#eac6f5,#e07eef);
  font-size: 16px; /* correct property for text size */
}

  button{
    border: none;
    outline:none;
    padding: 12px 20px ;
    background: #9e20a9;
    color:#ece0c9;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left:140px;
  }
  .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
   ul li{
    list-style: none;
    font-size: 14px;
    padding:15px 10px 13px 50px;
    user-select:none;
    user-select:none;
    cursor:pointer;
    position: relative;
    
  } 
  .progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

#progress {
  width: 0%;
  height: 100%;
  background: #1ae120;
  transition: width 0.3s ease;
}

#progressText {
  text-align: center;
  margin-bottom: 5px;
  color: #333;
}


 .text-content{
  text-align: center;

 }
  ul li::before{

    position: absolute;
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top:22px;
    left:8px;
    margin-right: 8px;
    background-color: #cdd9ce;
  }
  
  .circular {  
  border: none;
  border-radius: 50%;
  width: 15px;
  font-weight: bold;
  cursor: pointer;
}
 li.completed {
  text-decoration: line-through;
  color: gray;
}
  
 